@import './base.css';

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #92e3ff 0%, #b6ecff 60%, #eaf9ff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 1rem 2rem;
  font-weight: normal;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
